[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
watchdog = "*"
colorama = "*"
pylint = "*"
pytest = "*"

[dev-packages]
pylint = "*"
pytest = "*"
bobtail = "*"
bobtail-logger = "*"
setuptools = "*"
tox = "*"
twine = "*"

[requires]
python_version = "3.14"
